@using Projet.Models;
@model List<Book>
@{
    Layout = "_layout";
}
@section Stylesheets {
    <link rel="stylesheet" href="~/css/navItem.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/BookStore.css" asp-append-version="true" />

}
    <style>
        .dropdown:hover > .dropdown-menu {
            display: block;
        }

        .dropdown > .dropdown-toggle:active {
            /*Without this, clicking will make it sticky*/
                    pointer-events: none;
        }

        .btn{
            background-color:darkgrey ;
            margin-right: 40px;
            border-radius:54px;
        }

    </style>
@section nav_bar {


    <div class="container">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="https://randomuser.me/api/portraits/women/63.jpg" alt="" class="user-img">
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li class="dropdown-item" href="#">You are connected as <br> @ViewBag.client.FirstName @ViewBag.client.LastName </li>
                <a class="dropdown-item" asp-controller="Client" asp-action="Index">Home</a>
                <a class="dropdown-item"  href="/Client/MyBooks/@ViewBag.client.Inscription_Id">My Books</a>
                <a class="dropdown-item" asp-controller="Home" asp-action="Index">Sign Out</a>
            </div>
        </div>
    </div>


   
 }


    <div class="book-store">

        <div class="main-wrapper">
            <div class="books-of">
                <div class="week">
                    <div class="author-title">Author of the week</div>
                @foreach (String author in @ViewBag.authors)
                {
                    <div class="author">
                        <img src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80" alt="" class="author-img">
                        <div class="author-name">@author</div>
                    </div>
                }
            </div>
            <div class="week year">
                <div class="author-title">Books of the year</div>
                @foreach (Book b in @ViewBag.popularBooks)
                {
                    <div class="year-book">
                        <img src=@b.Url alt="" class="year-book-img">
                        <div class="year-book-content">
                            <div class="year-book-name">@b.Title</div>
                            <div class="year-book-author">by @b.AuthorName</div>
                        </div>
                    </div>
                }
            </div>
            <div class="overlay"></div>
        </div>
        <div class="popular-books">
            <div class="main-menu">
                <div class="genre">Popular by Genre</div>
                <div class="book-types">
                    <a href="/Client/Index" class="book-type active"> All Genres</a>
                    @foreach (String categorie in ViewBag.categories)
                    {
                        
                        <a href="/home/GetByCategory/@categorie" class="book-type "> @categorie </a>
                    }

                </div>
            </div>

            <div class="book-cards">
                @foreach (Book book in Model)
                {
                    <div class="book-card">
                        <div class="content-wrapper">
                            <img src=@book.Url alt="" class="book-card-img">
                            <div class="card-content">
                                <div class="book-name">@book.Title</div>
                                <div class="book-by">by @book.AuthorName </div>
                                <div class="rate">

                                    <span class="book-voters card-vote">available copies : @book.Available_Nbs</span>
                                </div>
                                <div class="book-sum card-sum">@book.Description </div>
                            </div>
                        </div>
                        <div class="likes">

                            <div class="book-see"> <a href="/Home/BookPage/@book.Id_Book" style=" ">See The Book</a></div>

                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</div>
<script src='<%=ResolveClientUrl("~/JS/site.js")%>' type="text/javascript"> </script>